* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

#menu-list-grow{
  outline: none;
}

@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.navall {
  z-index: 10;
  position: fixed;
  width: 100vw;
  background: white;
  box-shadow: 1px 1px 10px 1px rgb(219, 219, 219);
}

.nav {
  display: flex;
  max-width: 1500px;
  width: 95vw;

  height: 60px;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.nav .snav1 {
  flex: 0.25;
  display: flex;
  height: 60px;
  align-items: center;
}

.nav  .snav1  img {
  margin-bottom: 5px;
  transform: scale(0.9);
}

.nav > .snav1 > .Link {
  font-family: "yg-jalnan";
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  margin: 0 30px;
  font-weight: 700;
}

.nav > .snav1 > Button {
  font-family: "yg-jalnan";
  font-size: 0.8rem;
  color: gray;
  padding: 5px 0px;
}

.nav > .snav2 {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  height: 30px;
  overflow: hidden;
  border-left: 1px solid gray;
}

.snav2 > .slider {
  height: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.nav > .snav2 > .slider > .Link {
  height: 30px;
  line-height: 30px;

  width: 100%;
  text-decoration: none;
  color: black;
}
.nav > .snav3 {
  display: flex;
  justify-content: flex-end;
  flex: 0.45;
}

.nav > .snav3 > input {
  width: 210px;
  height: 45px;
  line-height: 45px;
  background: rgb(230, 230, 230);
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
  stroke: none;
  outline: none;
  text-align: center;
  border-radius: 50px;
}

.nav > .snav3 > .Link {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 100px;
  text-decoration: none;
  font-weight: 700;
}

.nav > .snav3 > .Link:nth-child(3) {
  background: #ff0084;
  color: white;
  border-radius: 40px;
}

.list{
  width: 300px;
}

.list > li {
  font-weight: 700;
}


@media(max-width:860px){
  .navall {
    z-index: 10;
    position: fixed;
    width: 100vw;
    background: white;
    box-shadow: 1px 1px 10px 1px rgb(219, 219, 219);
  }
  
  .nav {
    display: flex;
    max-width: 1500px;
    width: 95vw;
  
    height: 60px;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
  }
  
  .nav .snav1 {
    flex: 0.1;
    display: flex;
    height: 60px;
    align-items: center;
  }
  
  .nav .snav1 button{
    display: none;
    
  }
  .nav  .snav1  img {
    display: flex;
    margin-bottom: 10px;
    transform: scale(0.9);
  }
  
  .nav > .snav1 > .Link {
    display: none;
    font-family: "yg-jalnan";
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    margin: 0 10px;
    font-weight: 700;
  }
  
  .nav > .snav1 > Button {
    font-family: "yg-jalnan";
    font-size: 0.8rem;
    color: gray;
    padding: 5px 0px;
  }
  
  .nav > .snav2 {
    flex: 0;
    display: none;
    flex-direction: column;
    height: 30px;
    overflow: hidden;
    border-left: 1px solid gray;
  }
  
  .snav2 > .slider {
    
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .nav > .snav2 > .slider > .Link {
    height: 30px;
    line-height: 30px;
  
    width: 100%;
    text-decoration: none;
    color: black;
  }
  .nav > .snav3 {
    display: flex;
    justify-content: flex-end;
    flex: 0.9;
  }
  
  .nav > .snav3 > input {
    width: 90%;
    height: 45px;
    line-height: 45px;
    background: rgb(230, 230, 230);
    font-size: 0.9rem;
    font-weight: 700;
    border: none;
    stroke: none;
    outline: none;
    text-align: center;
    border-radius: 50px;
  }
  
  .nav > .snav3 > .Link {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 0.8rem;
    width: 80px;
    text-decoration: none;
    font-weight: 700;
  }
  
  .nav > .snav3 > .Link:nth-child(3) {
    background: #ff0084;
    color: white;
    border-radius: 40px;
  }
  
.list{
  width: 160px;
}
  .list > li {
    font-weight: 700;
  }
  
}