.Menu{
  margin-top:50px;
}
.Menu div{
  max-width: 1000px;
  width: 90vw;
  margin:0 auto;
  text-align: left;
}

.Menu div span{
  display: block;
  width: 40px;
  height: 8px;
  background: #1fc7c1;
}

.Menu div p {
  font-size: 1.2rem;
  margin: 10px 0 15px 0;
  font-weight: 700;
}
.Menu .item{
  cursor: pointer;
  width:150px;
  height:150px;
  margin:10px 10px; 
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.Menu .item:hover{
  background:#1fc7c1;
  color:white;
}

.Menu .itemicon{
  color:black;
  font-size: 3rem;
  transition: 0.2s;
}
.Menu .item:hover .itemicon{
  
  color:white;
  transform: scale(1.2);
}

.Menu img{
  margin-top: 50px;
  max-width: 1000px;
  min-width: 1000px;
  margin-left:50% ;
  transform: translate(-50% , 0);
  width: 90vw;
}



@media(max-width:640px){
  .Menu{
    margin-top:50px;
  }
  .Menu div{
    max-width: 1000px;
    width: 90vw;
    margin:0 auto;
    text-align: left;
  }
  
  .Menu div span{
    display: block;
    width: 40px;
    height: 8px;
    background: #1fc7c1;
  }
  
  .Menu div p {
    font-size: 1rem;
    margin: 10px 0 15px 0;
    font-weight: 700;
  }
  .Menu .item{
    cursor: pointer;
    width:100px;
    height:100px;
    margin:10px 10px; 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  }
  
  .Menu .item:hover{
    background:#1fc7c1;
    color:white;
  }
  
  .Menu .itemicon{
    color:black;
    font-size: 3rem;
    transition: 0.2s;
  }
  .Menu .item:hover .itemicon{
    
    color:white;
    transform: scale(1.2);
  }
  
  .Menu img{
    margin-top: 50px;
    max-width: 1000px;
    min-width: 1000px;
    margin-left:50% ;
    transform: translate(-50% , 0);
    width: 90vw;
  }
  
}