@font-face {
    font-family: "yg-jalnan";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }

.TokensMain{
    margin-top: 50px;
    width: 100vw;
}

.TokensMain>.imgback{
    width: 100%;
    background: #022dba;;
  
}

.TokensMain>.TokenList{
    width: 100%;
   
    margin:0 auto;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.TokensMain>.TokenList ul{
    display: flex;
    max-width: 1000px;
    justify-content: center;

    align-items: center;
    margin:0 auto;
   
}

.TokensMain>.TokenList ul li{
    flex: 0.5;
    height: 73px;
}

.TokensMain>.TokenList ul li a{
    line-height: 70px;
    width: 100%;

    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    height: 70px;
    font-weight: 700;
    color: gray;
  
}

.TokenLunivers{
    width: 100vw;
}

.TokenLunivers .area1{
    
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.TokenLunivers .area1 img{
    max-width: 600px;
    width: 100%;
    
}

.TokenLunivers .area1>div>div>div>img{
    width: 150px;
    margin: 20px 0;
}
.TokenLunivers>.area1>div:nth-of-type(1){
    max-width: 1000px;
    width: 100vw;
}

.TokenLunivers>.area1>div>p{

    line-height: 40px;
    padding:20px 0;
    margin:0 auto;
    width: 95%;
    text-align: left;
    font-size: 1rem;

}

.TokenLunivers>.area1>div>div>p>span{
    color:rgb(51, 51, 51);
    font-family: "yg-jalnan";
   
}


.TokenLunivers>.area1>div>h2{
    color:rgb(51, 51, 51);
    font-family: "yg-jalnan";
    margin:30px 0 15px 0;
   
}

.TokenLunivers>.area1>div>div>h3{
    color:rgb(51, 51, 51);
    font-family: "yg-jalnan";
    margin-bottom: 10px;
   
}
.TokenLunivers>.area1>div>div>p{
    margin:0 auto;
    width: 90%;
    margin-bottom: 40px;
}
.TokenLunivers>.area1>div>div>a{
    margin:20px auto;
    display: block;
    border-radius: 5px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color:white;
    font-weight: 700;
    font-size: 1.5rem;
    width: 350px;
    height: 60px;
    background: #4d61e6;
}

.TokenLunivers>.area1>.area2{
    width: 100vw;
    background:#3c50d1 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TokenLunivers>div>.area2>h2{
    color:white;
}

.TokenLunivers>div>.area2>img{
    max-width: 1000px;
    width: 80%;
    
 
}

.TokenLunivers>div>.area2>p{
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    width: 90%;
    text-align: center;
    margin-bottom: 40px;
}
.TokenLunivers>div>.area2>span{
    font-weight: 700;
    font-size: 1.1rem;
    margin:40px 0;
    color:#47f8f2;
}

.TokenLunivers>.area3{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TokenLunivers>.area3>h2{
    font-family: "yg-jalnan";

    line-height:40px;
    color: white;
    font-size: 1.7rem;
    font-weight: 700;
}


@media(max-width:680px){
    .TokensMain{
        margin-top: 50px;
        width: 100vw;
    }
    
    .TokensMain>.imgback{
        width: 100%;
        background: #022dba;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
      
    }
    .TokensMain>.imgback>img{
        width: 70%;
    }
    
    .TokensMain>.TokenList{
        width: 100%;
       
        margin:0 auto;
        border-bottom: 1px solid rgb(209, 209, 209);
    }
    
    .TokensMain>.TokenList ul{
        display: flex;
        max-width: 1000px;
        justify-content: center;
    
        align-items: center;
        margin:0 auto;
       
    }
    
    .TokensMain>.TokenList ul li{
        flex: 0.5;
        height: 53px;
    }
    
    .TokensMain>.TokenList ul li a{
        line-height: 50px;
        width: 100%;
        
        display: inline-block;
        text-decoration: none;
        font-size: 0.9rem;
        height: 50px;
        font-weight: 700;
        color: gray;
       
    }
    
    .TokenLunivers{
        width: 100vw;
    }
    
    .TokenLunivers .area1{
        
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    
    .TokenLunivers .area1 img{
        max-width: 600px;
        width: 100%;
        
    }
    .TokenLunivers>.area1>div:nth-of-type(1){
        max-width: 1000px;
        width: 100vw;
    }
    
    .TokenLunivers>.area1>div>p{
    
        line-height: 30px;
        padding:20px 0;
        margin:0 auto;
        width: 95%;
        text-align: left;
        font-size: 1rem;
    
    }
    
    .TokenLunivers>.area1>div>div>p>span{
        color:rgb(51, 51, 51);
        font-family: "yg-jalnan";
       
    }
    
    
    .TokenLunivers>.area1>div>h2{
        color:rgb(51, 51, 51);
        font-family: "yg-jalnan";
        margin:30px 0 15px 0;
       
    }
    
    .TokenLunivers>.area1>div>div>h3{
        color:rgb(51, 51, 51);
        font-family: "yg-jalnan";
        margin-bottom: 10px;
       
    }
    .TokenLunivers>.area1>div>div>p{
        font-size: 0.9rem;
        margin:0 auto;
        width: 90%;
        margin-bottom: 40px;
    }
    .TokenLunivers>.area1>div>div>a{
        margin:20px auto;
        display: block;
        border-radius: 5px;
        text-align: center;
        line-height: 60px;
        text-decoration: none;
        color:white;
        font-weight: 700;
        font-size: 1.5rem;
        width: 350px;
        height: 60px;
        background: #4d61e6;
    }
    
    .TokenLunivers>.area1>.area2{
        width: 100vw;
        background:#3c50d1 ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .TokenLunivers>div>.area2>h2{
        color:white;
    }
    
    .TokenLunivers>div>.area2>img{
        max-width: 1000px;
        width: 80%;
        
     
    }
    
    .TokenLunivers>div>.area2>p{
        color: white;
        font-size: 1rem;
        font-weight: 700;
        width: 80%;
        text-align: center;
        margin-bottom: 40px;
    }
    .TokenLunivers>div>.area2>span{
        width: 80%;
        font-weight: 700;
        font-size: 0.9rem;
        margin:40px 0;
        color:#47f8f2;
        text-align: left;
    }
    
    .TokenLunivers>.area3{
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .TokenLunivers>.area3>h2{
        font-family: "yg-jalnan";
        width: 70%;
        line-height:40px;
        color: white;
        font-size: 1.2rem;
        font-weight: 700;
    }
    
}